%%-*- mode: erlang -*-

{deps, [
  {webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}}
 ,{jiffy, ".*", {git, "git://github.com/davisp/jiffy", {tag, "0.13.3"}}}
 ,{rec2json, ".*", {git, "https://github.com/lordnull/rec2json.git", {tag, "2.0.4"}}}
]}.

{erl_opts, [{parse_transform, rec2json}]}.
